# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

#build
**/build/

#dev
**/*.dev

# Ignore the entire circuits folder in nextjs/public
nextjs/public/circuits/